@model List<EKMDevProject.Models.Admin.ItemTableViewModel>
@{
    Layout = null;
}

<div class="col-xs-12">

    <table id="admin-item-table" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Common Code</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.ID"> 
                    <td>@item.Name</td>
                    <td>@item.CommonCode</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>
                        <button class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>